Repository Sebasdlo/Trabajo_Integracion_Tienda_Catalogos_art3d: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "0.0...1.0"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 80%
        threshold: 5%

parsers:
  xml:
    - pattern: "Backend/coverage.xml"
  lcov:
    - pattern: "Frontend/coverage/lcov.info"

flags:
  backend:
    paths:
      - Backend/
  frontend:
    paths:
      - Frontend/

comment:
  layout: "reach, diff, flags, files"
  behavior: default

correciones de ci
  .github/workflows/ci.yml
  Jenkinsfile
Due: none

correcion test frontend
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

correcion catalogo test
  Frontend/coverage/clover.xml
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

correccion test catalogo
  Frontend/src/Pages/admin/CatalogoFiguras.js
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

correcion 3
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

correcion 4
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/Pages/admin/CatalogoFiguras.js
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

correccion 5
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/Pages/admin/CatalogoFiguras.js
Due: frontend

correcion 6
  Frontend/coverage/clover.xml
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/src/Pages/admin/CatalogoFiguras.js
Due: frontend

correcion 7
  .github/workflows/ci.yml
Due: none

correcion 8
  .github/workflows/ci.yml
  Backend/app.py
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/Pages/admin/CatalogoFiguras.js
Due: backend, frontend

mini correcion 8
  .github/workflows/ci.yml
Due: none

correccion 9
  Frontend/coverage/clover.xml
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/src/tests/CatalogoFiguras.test.js
Due: frontend

mini correcion 9
  .github/workflows/ci.yml
Due: none

correcion 10
  .github/workflows/ci.yml
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/Pages/admin/CatalogoFiguras.js
Due: frontend

correcion 11
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/tests/Home.test.js
Due: frontend

correcion del backend
  Backend/app.py
Due: backend

correciones en datos del firebase realtime
  Backend/app.py
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
  Frontend/coverage/lcov.info
  Frontend/src/Pages/Home/Home.js
  Frontend/src/Pages/admin/CatalogoFiguras.js
  Frontend/src/components/ProductCarrusel/ProductCarrusel.js
  Jenkinsfile
Due: backend, frontend

correciones backend
  Backend/.coverage
  Backend/app.py
  Backend/test/test_app.py
  Jenkinsfile
Due: backend

correciones de front
  Frontend/src/tests/Home.test.js
  Jenkinsfile
Due: frontend

correcion jenkins
  Jenkinsfile
Due: none

correcion jenkins 2 b
  Jenkinsfile
Due: none

cambios al jenkinsfile
  Jenkinsfile
Due: none

cambios para jenkinsfile 2
  Jenkinsfile
Due: none

Cambios jenkinsfile 3
  Jenkinsfile
Due: none

fix: jenkins 4
  Jenkinsfile
Due: none

Jenkins 5
  Jenkinsfile
Due: none

jenkins 6 fix
  Jenkinsfile
Due: none

Eliminar carpeta coverage y agregar a .gitignore
  .gitignore
Due: none

Stop tracking lcov-report
  .gitignore
Due: none

correcion gitignore
  .gitignore
Due: none

Delete Frontend/coverage/lcov-report directory
  Frontend/coverage/lcov-report/base.css
  Frontend/coverage/lcov-report/block-navigation.js
  Frontend/coverage/lcov-report/favicon.png
  Frontend/coverage/lcov-report/index.html
  Frontend/coverage/lcov-report/prettify.css
  Frontend/coverage/lcov-report/prettify.js
  Frontend/coverage/lcov-report/sort-arrow-sprite.png
  Frontend/coverage/lcov-report/sorter.js
  Frontend/coverage/lcov-report/src/App.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/Design.js.html
  Frontend/coverage/lcov-report/src/Pages/Design/index.html
  Frontend/coverage/lcov-report/src/Pages/Home/Home.js.html
  Frontend/coverage/lcov-report/src/Pages/Home/index.html
  Frontend/coverage/lcov-report/src/Pages/Products/Products.js.html
  Frontend/coverage/lcov-report/src/Pages/Products/index.html
  Frontend/coverage/lcov-report/src/Pages/admin/CatalogoFiguras.js.html
  Frontend/coverage/lcov-report/src/Pages/admin/index.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/ContactBanner.js.html
  Frontend/coverage/lcov-report/src/components/ContactBanner/index.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/HeroCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/HeroCarrusel/index.html
  Frontend/coverage/lcov-report/src/components/Navbar/Navbar.js.html
  Frontend/coverage/lcov-report/src/components/Navbar/index.html
  Frontend/coverage/lcov-report/src/components/ProductCard/ProductCard.js.html
  Frontend/coverage/lcov-report/src/components/ProductCard/index.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/ProductCarrusel.js.html
  Frontend/coverage/lcov-report/src/components/ProductCarrusel/index.html
  Frontend/coverage/lcov-report/src/index.html
  Frontend/coverage/lcov-report/src/index.js.html
Due: frontend

correciones finales de .gitignore
  .gitignore
  Frontend/coverage/clover.xml
  Frontend/coverage/coverage-final.json
  Frontend/coverage/lcov.info
Due: frontend

add: readme completo
  README.md
Due: none

add: readnme mini cambio
  README.md
Due: none

cambios finales al readme
  README.md
Due: none

add: mini cambio final en readme
  README.md
Due: none

Fix: backend
  Backend/.coverage
  Backend/__init__.py
  Backend/coverage.xml
  README.md
Due: backend
